html, body {
    background-color:#f9c702;
    margin: 0%;
}

/* border ONLY selector */
.border {
    background-color: #f9c702;
    height: 119px;
    margin-left: -10px;
    margin-right: -140px;
    margin-top: -10px; 
    max-width: 115%;
}

/* elements within border e.g. home, quiz etc */
.panel {
    display: flex;
    margin-left: 50px;
    gap: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}


.panel h5 {
    position: relative; right: -875px; top: 7px;
}

.panel #quiz {
    position: relative; left: -16.1px;
}

.panel a {
    color: black;
    text-decoration: none;
    position: relative; top: 8px; left: 8px;
    gap: 10px;
}

.flag-lang a img {
    position: relative; bottom: -30px; left: 821.5px;
}

.lang {
    display: none;
    position: absolute; left: 1273px; bottom: 565px;
    background-color: #f9f9f9;
    height: 60px;
    min-width: 98px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 1px 1px;
    z-index: 1;
}

.lang h5 {
    position: absolute; top: -36px; left: 17px;
}

.lang a {
    position: relative; bottom: -10px; left: -4px;
    text-decoration: none;
}

.flag-lang:hover .lang {
    display: block;
}

.main-content {
    position: relative; bottom: -108px; left: 394px;
}

.title {
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    color: #ffffff;
}

.tagline {
    position: relative; bottom: -10px; left: 130px;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    color: #ffffff;
}

.clickme button {
    position: relative; bottom: -30px; left: 214px;
    font-size: 30px;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(54, 158, 255);
}

.clickme a {
    text-decoration: none;
    color: white;
}