/* top border content selectors only */
.border {
    background-color: #f9c702;
    margin-left: -10px;
    margin-right: -50px;
    margin-top: -10px; 
}

/* elements within border e.g. home, quiz etc */
.panel {
    display: flex;
    margin-left: 50px;
    gap: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.panel a {
    color: black;
    text-decoration: none;
}

.flag-lang a {
    position: relative; bottom: -30px; left: 902px;
}

.lang {
    display: none;
    position: absolute; left: 1273px; bottom: 565px;
    background-color: #f9f9f9;
    height: 60px;
    min-width: 98px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 1px 1px;
    z-index: 1;
}

.lang h5 {
    position: absolute; bottom: -10px; left: 14px;
}

.lang a {
    position: relative; bottom: -10px; left: -1px;
    text-decoration: none;
}

.flag-lang:hover .lang {
    display: block;
}

/* Selectors for quiz container onwards */
.container, .container::before, .container::after {
    box-sizing: border-box; /* to make editing height and width easier */
    font-family: monospace;
}

:root { /* top level element for '.btn value/--hue value' colors */
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-neutral); /* this variable is created for the colour when no option is selected */
    background-color: hsl(var(--hue-neutral)100%, 20%);
}

body.correct {
    --hue: var(--hue-correct); /* for when answer is correct */
}

body.wrong {
    --hue: var(--hue-wrong); /* for when answer is wrong */
}

/* container for elements within quiz */
.container {
    height: 500px;
    width: 900px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    position: relative; top: 50px; left: 300px;
}

#question {
    font-size: 30px;
    position: relative; top: 60px;
}

.btn-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, auto);
    grid: 10px;
    margin: 20px 0;
}

.btn-grid button {
    font-size: 30px;
    position: relative; top: 150px;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
    color: black;
}

.btn.correct {
    --hue: var(--hue-correct);
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; top: 180px;
}

.hide {
    display: none;
}
